@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@400;600&display=swap");

.projector-root {
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
  color: white;
}

.scene {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ---------- IDLE ---------- */

.bg-video {
  position: absolute;
  /* inset: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
  /* z-index: -1; */
}

.antilope {
  width: 280px;
  margin-bottom: 30px;
  filter: drop-shadow(0 20px 50px rgba(255, 0, 0, 0.934));
  position: absolute;
  right: 20%;
  top: 20%;
}

.idle h1 {
  font-family: "Great Vibes", cursive;
  font-size: 142px;
  color: rgb(255, 204, 0);
  text-shadow: 0 0 25px rgba(190, 62, 62, 0.4);
}

.idle h2 {
  font-family: "Great Vibes", "Playfair Display", serif;
  font-size: 48px;
  z-index: 1;
  /* margin-top: 10px; */
}

.idle p {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  margin-top: 20px;
  opacity: 0.8;
}

/* ---------- INTRO ---------- */

.intro h1 {
  font-family: "Great Vibes", cursive;
  font-size: 96px;
  margin-bottom: 20px;
}

.intro p {
  font-size: 28px;
  opacity: 0.85;
}

/* ---------- SESSION ---------- */

.session-photo {
  max-width: 80%;
  max-height: 80%;
  border-radius: 24px;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.8);
}

/* ---------- MEMORY ---------- */

.memory {
  background: radial-gradient(circle at center, #111, #000);
}

.memory h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  opacity: 0.9;
}

.familia {
  font-family: "Great Vibes", "Playfair Display", serif;
  font-size: 64px;
  margin-top: 20px;
  opacity: 0.8;
  z-index: 50;
  bottom: 20px;
  position: absolute;
  font-style: italic;
  color: #ffd700;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
